@model IEnumerable<LMS.Domain.Subject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard" id="dashboard">
   
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="container-fluid">
                        <div class="table-responsive">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2>Manage <b>Subjects</b></h2>
                                        </div>
                                        <div class="col-md-6 pull-right">
                                            <a href="#addSubjectModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Subject</span></a>
                                            <a href="#deleteSubjectModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                                        </div>
                                    </div>
                                </div>

                                <table id="subjectpage" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Subject Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Subject_Id</td>
                                                <td>@item.Subject_Name</td>
                                                <td>
                                                    <a href="#editSubjectModal" class="edit" id="edit" data-toggle="modal">
                                                        <i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i>
                                                    </a>

                                                    <a href="#deleteSubjectModal" class="delete" id="delete" data-toggle="modal">
                                                        <i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i>
                                                    </a>

                                                    @*Added BY Absar To get parentid*@
                                                    <input type="hidden" class="Subject_Id" value="@item.Subject_Id" />

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="clearfix">

                                </div>
                            </div>
                        </div>
                        <!-- Add Modal HTML -->
                        <div id="addSubjectModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" asp-controller="subject" asp-action="addSubject">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Add Subject</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            @*<div class="form-group">
                                                    <label>Class ID</label>
                                                    <input type="text" class="form-control" required="" name="Subject_Id">
                                                </div>*@
                                            <div class="form-group">
                                                <label>Subject Name</label>
                                                <input type="text" class="form-control" required="" name="Subject_Name">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" class="btn btn-success" value="Add">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Edit Modal HTML -->
                        <div id="editSubjectModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" asp-controller="subject" asp-action="editSubject">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Class</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input type="text" class="form-control" required="" id="Subject_Id" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <label>Subject Name</label>
                                                <input type="text" class="form-control" required="" name="Subject_Name" id="Subject_Name">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" class="btn btn-info" value="Save">
                                            @*Added By Absar*@
                                            <input type="hidden" name="Subject_Id" id="Subject_Id" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Delete Modal HTML -->
                        <div id="deleteSubjectModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" asp-controller="subject" asp-action="deleteSubject">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Subject</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete these Records?</p>
                                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" class="btn btn-danger" value="Delete">

                                            @*//Added By Absar To Pass Parameter to action method*@
                                            <input type="hidden" id="Subject_Id" name="Subject_Id" />

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <footer class="footer">
            <div class=" container-fluid ">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Karachi Grammar School
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright" id="copyright">
                    &copy;
                    <script>
                        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                    </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </div>
</div>

<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>
@*<script src="~/Dashboard/assets/js/navigation.js"></script>*@
<script>
    $(document).ready(function () {

        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };

        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';
        

        if (messageSuccess.length > 0) {
            //console.log(message);
            toastr.success(messageSuccess);
        }
        else if (messageError > 0)  {
            toastr.error(messageError);
        }
        
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        //Get Subject_Id for Delete Added By Absar
        $('#subjectpage #delete').on('click', function () {
            var Subject_Id = $(this).parent().find('.Subject_Id').val();
            $('#deleteSubjectModal #Subject_Id').val(Subject_Id);
        });

        //Get Subject_Id for Edit Added By Absar
        $('#subjectpage #edit').on('click', function () {
            var id = $(this).parent().find('.Subject_Id').val();
            $.ajax({

                type: 'GET',
                url: '/admin/subject/editSubject/' + id,
                success: function (objSubject) {
                    
                    $('#editSubjectModal #Subject_Id').val(objSubject.subject_Id);
                    $('#editSubjectModal #Subject_Name').val(objSubject.subject_Name);

                }
            });
        });


        $('#subjectpage').DataTable();

    });
</script>