@model List<LMS.Domain.Lecture>
@{
    ViewData["Title"] = "Lectures";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard" id="dashboard">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#pablo">TEACHER CLASSES</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form>
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Stats</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="now-ui-icons location_world"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Some Actions</span>
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>
                                <span class="d-lg-none d-md-block">Account</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="container-fluid">
                        <div class="table-responsive">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2>Lecture  <b>List</b></h2>
                                        </div>
                                        <div class="col-md-6 pull-right">
                                            <a href="teacher_class_lecture_add.html" class="btn btn-success"><i class="material-icons"></i> <span>Add New Lecture</span></a>
                                        </div>
                                    </div>
                                </div>

                                <table id="classpage" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Lecture ID</th>
                                            <th>Lecture Name</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.Lecture_Id</td>
                                            <td>@item.Lecture_Name</td>
                                            <td>@item.LecturePost_Date</td>
                                            <td>
                                                <a href="#editSubjectModal" class="edit" id="edit" data-toggle="modal">
                                                    <i class="fas fa-pen"></i>
                                                </a>

                                                <a href="#deleteLectureModal" class="delete" id="delete" data-toggle="modal">
                                                    <i class="fas fa-trash"></i>
                                                </a>

                                                <a asp-controller="teachers/Lecture" asp-action="downloadLecture" asp-route-lectureId="@item.Lecture_Id" class="delete"><i class="fas fa-file-archive"></i></a>


                                                @*Added BY Absar To get parentid*@
                                                <input type="hidden" class="Lecture_Id" value="@item.Lecture_Id" />
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="clearfix">

                                </div>
                            </div>
                        </div>
                        <!-- Add Modal HTML -->
                        <div id="addClassModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" asp-controller="class" asp-action="addClass">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Add Class</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            @*<div class="form-group">
                                <label>Class ID</label>
                                <input type="text" class="form-control" required="" name="class_Id">
                            </div>*@
                                            <div class="form-group">
                                                <label>Class Name</label>
                                                <input type="text" class="form-control" required="" name="Class_Name">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" class="btn btn-success" value="Add">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Edit Modal HTML -->
                        <div id="editClassModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" asp-controller="class" asp-action="editClass">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Class</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Class ID</label>
                                                <input type="text" class="form-control" required="" id="Class_Id" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <label>Class Name</label>
                                                <input type="text" class="form-control" required="" name="Class_Name" id="Class_Name">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" class="btn btn-info" value="Save">
                                            @*Added By Absar*@
                                            <input type="hidden" name="Class_Id" id="Class_Id" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Delete Modal HTML -->
                        <div id="deleteLectureModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" asp-controller="Lecture" asp-action="deleteLecture">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Lecture</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this Records?</p>
                                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="submit" class="btn btn-danger" value="Delete">

                                            @*//Added By Absar To Pass Parameter to action method*@
                                            <input type="hidden" id="Lecture_Id" name="Lecture_Id" />

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <footer class="footer">
            <div class=" container-fluid ">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Karachi Grammar School
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright" id="copyright">
                    &copy;
                    <script>
                        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                    </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </div>
</div>

<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
@*<script src="~/Dashboard/assets/js/navigation.js"></script>*@
<script>
    $(document).ready(function () {

        $('#classpage').DataTable();

        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

         //Get Class_Id for Delete Added By Absar
        $('#classpage #delete').on('click', function () {
            var Lecture_Id = $(this).parent().find('.Lecture_Id').val();
            //debugger;
            console.log(Lecture_Id);
            $('#deleteLectureModal #Lecture_Id').val(Lecture_Id);
        });

    });
</script>




