@model List<LMS.Domain.ViewModels.StudentAttemptTestViewModel>
@{
    ViewData["Title"] = "Students";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Student <b>List</b></h2>
                                    </div>
                                </div>
                            </div>
                            <table id="test" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Submitted On</th>
                                        <th>Score</th>
                                        <th>View Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Student_Name</td>
                                            <td>@item.SubmittedOn.ToShortDateString()</td>
                                            <td>@item.Obtained_Marks</td>
                                            <td><a asp-action="ViewTestResult" asp-controller="Test" asp-route-studentId="@item.Student_Id" asp-route-testId="@item.Test_Id" class="btn btn-primary btn-sm">View</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>

<script>
    $(document).ready(function () {

        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };



        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';


        if (messageSuccess.length > 0) {

            toastr.success(messageSuccess);
        }
        else if (messageError.length > 0)  {
            toastr.error(messageError);
        }



        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();



        $('#test').DataTable({
            /* Disable initial sort */
            "aaSorting": []
        });




    });
</script>