@model List<LMS.Domain.ViewModels.StudentTestResultViewModel>
@{
    ViewData["Title"] = "ViewTestResult";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Student Test <b>Result</b></h2>
                                    </div>
                                </div>
                            </div>
                            <table id="test" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer</th>
                                        <th>CorrectAnswer</th>
                                        <th>Marks Obtained</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Question</td>
                                            @if (item.Answer_Type_Id == 3)
                                            {
                                                <td><a href="@item.Answer" target="_blank">Click to view your Answer</a></td>
                                            }
                                            else
                                            {
                                                <td>@item.Answer</td>
                                            }
                                            <td>@item.CorrectAnswer</td>
                                            <td><input asp-for="@item.Marks_Obtained" class="form-control"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button id="btnSave" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>

