@model List<LMS.Domain.ViewModels.StudentTestResultViewModel>
@{
    ViewData["Title"] = "ViewTestResult";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Student Test <b>Result</b></h2>
                                    </div>
                                </div>
                            </div>
                            <table id="tblViewResult" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer</th>
                                        <th>CorrectAnswer</th>
                                        <th>Marks</th>
                                        <th>Marks Obtained</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Question</td>
                                            @if (item.Answer_Type_Id == 3)
                                            {
                                                <td><a href="@item.Answer" target="_blank">Click to view your Answer</a></td>
                                            }
                                            else
                                            {
                                                <td>@item.Answer</td>
                                            }
                                            <td>@item.CorrectAnswer</td>
                                            <td data-marks="@item.Marks">@item.Marks</td>
                                            <td><input data-question-id="@item.Question_Id" asp-for="@item.Marks_Obtained" class="form-control"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button id="btnSave" type="button" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>
                    </div>
                    @{
                        TempData["TestId"] = ViewBag.TestId;
                        TempData["StudentId"] = ViewBag.StudentId;
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>
<script>

    var data = new FormData();

    $(document).ready(function () {

        toastr.options = {
        "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };

        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';


        if (messageSuccess.length > 0) {

                toastr.success(messageSuccess);
        }
        else if (messageError.length > 0) {
            toastr.error(messageError);
        }

        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        $('#btnSave').click(function () {
            GetValuesFromForm();
        });

    });

    function getDataFromDiv(results) {

        data = new FormData();

        var isFailed = false;

        $('#tblViewResult > tbody  > tr').each(function (index, tr) {
            var marks = '';
            $(tr).find("td").each(function () {
                if ($(this).attr('data-marks') != undefined) {
                    marks = $(this).attr('data-marks');
                }
                if ($(this).find("input").length > 0) {
                    if (parseInt($($(this).find("input")[0]).val(), 10) > parseInt(marks, 10)) {
                        isFailed = true;
                        results = [];
                        return isFailed;
                    }
                    var resultObj = {
                        marksObtained: $($(this).find("input")[0]).val(),
                        questionId: $(this).find("input").attr("data-question-id")
                    };
                    results.push(resultObj)
                }
            });
        });

        data.append('results', JSON.stringify(results));

        return isFailed;
    }

    function GetValuesFromForm() {

        var results = [];

        var res = getDataFromDiv(results);

        if (!res) {
            $.ajax({
                url: '@Url.Action("viewTestResult", "teachers/test")',
                method: 'POST',
                processData: false,
                contentType: false,
                data: data,
                success: function Success(response) {
                    toastr.success('Data successfully saved');
                },
                error: function (msg) {
                    toastr.error('Failed to Save Data');
                }
            });
        } else {
            toastr.error("Marks obtained can't be greater than total marks");
        }


    }

    //$('#tblViewResult').DataTable({
    //    /* Disable initial sort */
    //    // "aaSorting": []
    //});

</script>

