@model LMS.Domain.ViewModels.AttendanceViewModel



@{
    ViewData["Title"] = "MarkAttendance";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Add Attendance </h2>
                                    </div>
                                    <div class="col-md-6 pull-right">

                                    </div>
                                </div>
                            </div>

                            <br />


                            <form method="post" asp-controller="attendance" asp-action="addAttendance">
                                <table id="AttendancePage" class="display" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th>Student ID</th>
                                            <th>Student Name</th>
                                            <th class="Class_Id">ClassID</th>
                                            <th>Class Name</th>
                                            <th class="Section_Id">SectionID</th>
                                            <th>Section Name</th>
                                            @*<th>Subject Name</th>*@
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Sessions)
                                        {
                                            <tr>


                                                <td>@item.Student_Id</td>
                                                <td>@item.Student_Name</td>
                                                <td class="Class_Id">@item.Class_Id</td>
                                                <td>@item.Class_Name</td>
                                                <td class="Section_Id">@item.Section_Id</td>
                                                <td>@item.Section_Name</td>
                                                @*<td>
                        @item.Subject_Name

                        <input type="hidden" class="Subject_Name" id="Subject_Name" />
                    </td>*@
                                                <td>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" id="radStatus" value="Absent" class="form-check-inline" name="@item.Student_Id">Abesnt
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" id="radStatus" value="Present" class="form-check-inline" name="@item.Student_Id">Present
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline disabled">
                                                        <label class="form-check-label">
                                                            <input type="radio" id="radStatus" value="Leave" class="form-check-inline" name="@item.Student_Id">Leave
                                                        </label>
                                                    </div>

                                                    <input type="hidden" class="Session_Id" id="Session_Id" value="@ViewBag.Session_Id" />

                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>

                                            <th>Student ID</th>
                                            <th>Student Name</th>
                                            <th class="Class_Id">ClassID</th>
                                            <th>Class Name</th>
                                            <th class="Section_Id">SectionID</th>
                                            <th>Section Name</th>
                                            @*<th>Subject Name</th>*@
                                            <th>Status</th>

                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="clearfix">

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <input type="submit" value="Submit" id="Submit" class="btn btn-primary" />
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>









                </div>
            </div>
        </div>
    </div>




    <footer class="footer">
        <div class=" container-fluid ">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Karachi Grammar School
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright" id="copyright">
                &copy;
                <script>
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>




<!--   Core JS Files   -->
<!--   Core JS Files   -->
<script src="~/Dashboard/assets/js/core/jquery-3.5.1.js"></script>
@*<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>*@
<script src="~/Dashboard/assets/datatables.net/js/jquery.dataTables.min.js"></script>
@*<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>*@
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>
<script>
    $(document).ready(function () {

        toastr.options = {
        "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };

        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';


        if (messageSuccess.length > 0) {

                toastr.success(messageSuccess);
        }
        else if (messageError.length > 0) {
            toastr.error(messageError);
        }


        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        $(".Section_Id, .Class_Id").hide()




        //$("#ddlSubject").change(function ()
        //{

        //    var selected = $('#ddlSubject :selected');
        //    var val = selected.val();
        //    selected = selected.text();

        //    var table = $("table tbody");

        //    table.find('tr').each(function (i) {
        //        var $tds = $(this).find('td');

        //        $tds.eq(4).val(val);
        //        $tds.eq(4).html(selected);

        //    });


        //});


        //Add Attendance Ajax Request Added By Absar
        $('#Submit').on('click', function () {




            var attendancearr = [];
            $("#AttendancePage tbody tr").each(function () {
                var row = $(this);
                var atd = {};



                atd.ID = "0";
                atd.Date = "0";
                atd.Status = row.find('input:radio[id=radStatus]:checked').val();
                atd.Session_Id = $('#Session_Id').val();
                atd.Student_Id = row.find("td").eq(0).html();
                atd.Student_Name = row.find("td").eq(1).html();
                atd.Class_Id = row.find("td").eq(2).html();
                atd.Section_Id = row.find("td").eq(4).html();
                //atd.Subject_Id = $('#ddlSubject :selected').val();
                //atd.Subject_Id = "0";
                atd.Teacher_Id = "0";
                attendancearr.push(atd);
            });

            $.ajax({

                url: '/Teachers/Attendance/addAttendance',
                type: 'POST',
                contentType: "application/x-www-form-urlencoded",
                dataType: "html",
                data: { attendancearr: attendancearr },
                success: function (data) {

                },
                error: function (err) {
                    //console.log(err);
                    toastr.error("Adding Attendance Failed");
                }
            });

        });


        //$('#AttendancePage').dataTable({
        //    /* Disable initial sort */
        //    "aaSorting": [],
        //    "searching": false,
        //    "bLengthChange": false,

        //});


        $('#AttendancePage').DataTable({

            "bLengthChange": false,
            "fixedHeader": { header: true, footer: true },

            responsive: false,
            //autoWidth: false,
            //aaSorting: [[2, 'asc']],
            //cache: true,


            initComplete: function () {
                this.api().columns([3,5]).every(function () {
                    var column = this;
                    //var theadname = $('#AttendanceDetailPage th').eq([d]).text();
                    var select = $(' <select><option value="">ALL</option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });




    });



    //function ViewChangeClass($this) {
    //    var $selectText = $('option:selected', $this).text().toLowerCase();
    //    var $val = $($this).val();

    //    if ($selectText != 'all') {
    //        $('tr').each(function () {
    //            if ($(this).find('td').length) {
    //                var txt = '';
    //                if ($val < 4) {
    //                    txt = $(this).find('td:eq(2)').text().toLowerCase();
    //                }
    //                else
    //                {
    //                    txt = $(this).find('td:eq(3)').text().toLowerCase();
    //                }

    //                if (txt === $selectText) {
    //                    $(this).show();
    //                }
    //                else {
    //                    $(this).hide();
    //                }
    //            }
    //        })
    //    }
    //    else {
    //        $('tr').show();
    //    }

    //}




    //function ViewChangeSection($this) {
    //    var $selectText = $('option:selected', $this).text().toLowerCase();
    //    var $val = $($this).val();

    //    if ($selectText != 'all') {
    //        $('tr').each(function () {
    //            if ($(this).find('td').length) {
    //                var txt = '';
    //                if ($val < 4) {
    //                    txt = $(this).find('td:eq(3)').text().toLowerCase();
    //                }
    //                else {
    //                    txt = $(this).find('td:eq(3)').text().toLowerCase();
    //                }

    //                if (txt === $selectText) {
    //                    $(this).show();
    //                }
    //                else {
    //                    $(this).hide();
    //                }
    //            }
    //        })
    //    }
    //    else {
    //        $('tr').show();
    //    }

    //}



</script>



