@model IEnumerable<LMS.Domain.ViewModels.AttendanceViewModel>

@{
    ViewData["Title"] = "MarkAttendance";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Add Attendance </h2>
                                    </div>
                                    <div class="col-md-6 pull-right">

                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-3">
                                    <label>Class Name</label>
                                    <select id="ddlClass" name="Class_Id" class="form-control" asp-items="@ViewBag.ClassList"></select>
                                </div>
                                <div class="col-md-3">
                                    <label>Section Name</label>
                                    <select id="ddlSection" name="Section_Id" class="form-control" asp-items="@ViewBag.sectionList"></select>
                                </div>
                                <div class="col-md-3">
                                    <label>Subject Name</label>
                                    <select id="ddlSubject" name="Subject_Id" class="form-control" asp-items="@ViewBag.subjectList"></select>
                                </div>
                            </div>

                            <br />
                            <br />
                            <br />

                            <table id="AttendancePage" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Student ID</th>
                                        <th>Student Name</th>
                                        <th>ClassName</th>
                                        <th>Section Name</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Session_Id</td>
                                            <td>@item.Student_Id</td>
                                            <td>@item.Student_Name</td>
                                            <td>@item.Class_Name</td>
                                            <td>@item.Section_Name</td>
                                            <td>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" id="radioStatus" class="form-check-input" name="optradio">Abesnt
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" id="radioStatus" class="form-check-input" name="optradio">Present
                                                    </label>
                                                </div>
                                                <div class="form-check-inline disabled">
                                                    <label class="form-check-label">
                                                        <input type="radio" id="radioStatus" class="form-check-input" name="optradio">Leave
                                                    </label>
                                                </div>
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix">

                            </div>
                        </div>
                    </div>





                    <!-- Edit Modal HTML -->
                    <div id="editStudentClassModel" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" asp-controller="student" asp-action="editStudentClass">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Student Class</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text" class="form-control" required="" id="StudentClass_Id" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label>Student ID</label>
                                            <input type="text" class="form-control" required="" id="Student_Id" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label>Student Name</label>
                                            <input type="text" class="form-control" required="" id="Student_Name" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label>Class Name</label>
                                            @*<select id="Class_Id" name="Class_Id" class="form-control" asp-items="@(new SelectList(ViewBag.Class, "Class_Id", "Class_Name"))"></select>*@
                                        </div>

                                        <div class="form-group">
                                            <label>Section Name</label>
                                            @*<select id="Section_Id" name="Section_Id" class="form-control" asp-items="@(new SelectList(ViewBag.Section, "Section_Id", "Section_Name"))"></select>*@
                                        </div>



                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-info" value="Save">
                                        @*Added By Absar*@
                                        <input type="hidden" name="StudentClass_Id" id="StudentClass_Id" />
                                        <input type="hidden" name="Student_Id" id="Student_Id" />
                                        <input type="hidden" name="Student_Name" id="Student_Name" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <!-- Delete Modal HTML -->
                    <div id="deleteStudentClassModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" asp-controller="student" asp-action="deleteStudentClass">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Student Class</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete these Records?</p>
                                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-danger" value="Delete">

                                        @*//Added By Absar To Pass Parameter to action method*@
                                        <input type="hidden" id="StudentClass_Id" name="StudentClass_Id" />
                                        <input type="hidden" id="Students_Id" name="Student_Id" />

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <footer class="footer">
        <div class=" container-fluid ">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Karachi Grammar School
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright" id="copyright">
                &copy;
                <script>
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>




<!--   Core JS Files   -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
@*<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>*@
@*<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>*@
@*<script src="~/Dashboard/assets/datatables.net/js/jquery.dataTables.min.js"></script>*@
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>
<script>
    $(document).ready(function () {

        toastr.options = {
        "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };

        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';


        if (messageSuccess.length > 0) {

                toastr.success(messageSuccess);
        }
        else if (messageError.length > 0) {
            toastr.error(messageError);
        }

        //$('#AttendancePage').hide();

        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();


        $('#AttendancePage').dataTable({
            /* Disable initial sort */
            "aaSorting": [],
            "searching": false,
            "bLengthChange": false,

        });


        //var rows = $("table#AttendancePage tr:not(:first-child)");

        //$("#ddlClass").change(function () {
        //    var selected = this.value;

        //    if (selected != "All") {
        //        rows.filter("[ClassName=" + selected + "]").show();
        //        rows.not("[ClassName=" + selected + "]").hide();
        //        rows.filter("[ClassName=" + selected + "]");

        //    }
        //    else {
        //        rows.show();
        //    }


        //});

        $("#ddlClass").change(function () {
            var ddlClass = $(this).val();
            $('table')[ddlClass ? 'show' : 'hide']();

            if (ddlClass) {
                $.each($('#AttendancePage tbody tr:has(td)'), function (index, item) {
                    $(item)[$(item).is(':contains(' + ddlClass + ')') ? 'show' : 'hide']();
                });
            }

        });


        //Get StudentClass_Id for Delete Added By Absar
        //$('#AttendancePage #delete').on('click', function () {
        //    var StudentClass_Id = $(this).parent().find('.StudentClass_Id').val();
        //    $('#deleteStudentClassModal #StudentClass_Id').val(StudentClass_Id);
        //});

        //Get StudentClass_Id for Edit Added By Absar
        //$('#AttendancePage #edit').on('click', function () {
        //    var id = $(this).parent().find('.StudentClass_Id').val();
        //    $.ajax({

        //        type: 'GET',
        //        url: '/admin/student/editStudentClass/' + id,
        //        success: function (objStudentClass) {

        //            // objClass = JSON.stringify(objClass);

        //            //alert(objClass);
        //            $('#editStudentClassModel #StudentClass_Id').val(objStudentClass.studentClass_Id);
        //            $('#editStudentClassModel #Class_Id').val(objStudentClass.class_Id);
        //            $('#editStudentClassModel #Section_Id').val(objStudentClass.section_Id);
        //            $('#editStudentClassModel #Student_Id').val(objStudentClass.student_Id);
        //            $('#editStudentClassModel #Student_Name').val(objStudentClass.student_Name);

        //        }
        //    });
        //});



        //$('#AttendancePage').dataTable({
        //    /* Disable initial sort */
        //    "aaSorting": [],
        //    "searching": false,
        //    "bLengthChange": false,

        //});

        //$('#AttendancePage').DataTable({
        //    initComplete: function () {
        //        this.api().columns().every(function () {
        //            var column = this;
        //            var select = $('<select><option value=""></option></select>')
        //                .appendTo($(column.footer()).empty())
        //                .on('change', function () {
        //                    var val = $.fn.dataTable.util.escapeRegex(
        //                        $(this).val()
        //                    );

        //                    column
        //                        .search(val ? '^' + val + '$' : '', true, false)
        //                        .draw();
        //                });

        //            column.data().unique().sort().each(function (d, j) {
        //                select.append('<option value="' + d + '">' + d + '</option>')
        //            });
        //        });
        //    }
        //});






    });




</script>



