@model List<LMS.Domain.ViewModels.StudentTestViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Students/Views/Shared/_Studentayout.cshtml"; ;
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Tests</h2>
                                    </div>

                                </div>
                            </div>
                            <table id="test" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Assessment Name</th>
                                        <th>Class</th>
                                        <th>Section</th>
                                        <th>Subject</th>
                                        <th>Assessment Date</th>
                                        <th>Action</th>
                                        <th>Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Test_Name</td>
                                            <td>@item.Class_Name</td>
                                            <td>@item.Section_Name</td>
                                            <td>@item.Subject_Name</td>
                                            <td>

                                                @item.Assessment_Date.ToShortDateString()
                                                
                                            </td>
                                            <td>

                                                <a id="AttemptTest" asp-action="AttemptTest" asp-controller="Test" asp-route-id="@item.Test_Id" class="btn btn-primary btn-sm">Attempt Test</a>
                                                <input type="hidden" class="AssessmentTime" value="@item.Assessment_EndTime.ToShortTimeString()" />
                                                <input type="hidden" class="AssessmentDate" value="@item.Assessment_Date.ToShortDateString()" />
                                            </td>
                                            <td><a asp-action="ViewResult" asp-controller="Test" asp-route-TestId="@item.Test_Id" class="btn btn-primary btn-sm">View Result</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <!-- Delete Modal HTML -->
                    <div id="deleteQuestionModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" asp-controller="Test" asp-action="DeleteQuestion">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Question</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this Records?</p>
                                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                        <input type="hidden" id="Question_Id" name="Question_Id" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="~/Dashboard/assets/jqueryDataTable/jquery.min.js"></script>
<script src="~/Dashboard/assets/jqueryDataTable/jquery.dataTables.js"></script>
<link href="~/Dashboard/assets/js/toastr/toastr.css" rel="stylesheet" />
<script src="~/Dashboard/assets/js/toastr/toastr.js"></script>
<script src="~/Dashboard/assets/js/core/moment.js"></script>
@*<script src="~/Dashboard/assets/js/navigation.js"></script>*@
<script>

    function getTwentyFourHourTime(EndTime) {
        var d = new Date("1/1/0101 " + EndTime);
        return d.getHours() + ':' + d.getMinutes();
    }

    $(document).ready(function () {

        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });


        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
        };



        var messageError = '@(ViewBag.Error)';
        var messageSuccess = '@(ViewBag.Success)';


        if (messageSuccess.length > 0) {

            toastr.success(messageSuccess);
        }
        else if (messageError.length > 0)  {
            toastr.error(messageError);
        }


        //Check If Student Alredy Submited Test Or Test Time Ended
        $('#test #AttemptTest').on('click', function (event) {


            var EndTime = $(this).parent().find('.AssessmentTime').val();
            EndTime = getTwentyFourHourTime(EndTime);
            var AssessmentDate = $(this).parent().find('.AssessmentDate').val();
            
            var currentDate = new Date();
            var currentDate = (currentDate.getMonth() + 1) + '/' + currentDate.getDate() + '/' + currentDate.getFullYear()
            
            var currentTime = new Date();
            var currentTime = currentTime.getHours() + ':' + currentTime.getMinutes();


            if (currentDate != AssessmentDate || currentTime >= EndTime) {

                event.preventDefault();
                toastr.error("Assessment Has Expired ");

            }

            if (currentDate == AssessmentDate && currentTime >= EndTime) {

                event.preventDefault();
                toastr.error("Assessment Has Expired ");

            }
            
        });


        


        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        $('#test').DataTable();

        //$('#question #delete').on('click', function () {
        //    var Question_Id = $(this).parent().find('.Question_Id').val();

        //    $('#deleteQuestionModal #Question_Id').val(Question_Id);
        //});

    });
</script>



