@model IEnumerable<LMS.Domain.ViewModels.StudentGradeViewModel>
@{
    ViewData["Title"] = "Students";
    Layout = "~/Areas/Teachers/Views/Shared/_TeacherLayout.cshtml";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Class Subject <b>List</b></h2>
                                    </div>
                                </div>
                            </div>

                            <table id="classpage" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Total Marks</th>
                                        <th>Marks Obtained</th>
                                        <th>Grade</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Student_Name</td>
                                        <td>@item.Total_Marks</td>
                                        <td>@item.Obtained_Marks</td>
                                        <td>@item.Grade</td>
                                        <td>
                                            <a asp-action="Grade" asp-controller="StudentsTestResults" asp-route-ClassSubjectId="@item.Student_Id" class="edit">View More<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="clearfix">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class="footer">
        <div class=" container-fluid ">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Karachi Grammar School
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright" id="copyright">
                &copy;
                <script>
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>

